<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.connor.cabshare" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileCreationPage"
            android:label="@string/title_activity_profile_creation_page" >
        </activity>
        <activity
            android:name=".MainMenuPage"
            android:label="@string/title_activity_main_menu_page" >
        </activity>
        <activity
            android:name=".EditProfilePage"
            android:label="@string/title_activity_edit_profile_page" >
        </activity>
        <activity
            android:name=".createRequestPage"
            android:label="@string/title_activity_create_request_page" >
        </activity>
        <activity
            android:name=".createOfferPage"
            android:label="@string/title_activity_create_offer_page" >
        </activity>
        <activity
            android:name=".OfferMenuPage"
            android:label="@string/title_activity_offer_menu_page" >
        </activity>
        <activity
            android:name=".viewRequestsPage"
            android:label="@string/title_activity_view_requests_page" >
        </activity>
        <activity
            android:name=".viewOffersPage"
            android:label="@string/title_activity_view_offers_page" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
